
.paper {
  padding: 16px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}
.fileInput {
  width: 97%;
  margin: 10px 0;
}
.buttonSubmit {
  margin-bottom: 10;
}
